* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Bad Script', cursive;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}

#user-font,
#user-text {
  padding: 6px;
}

.button {
  align-self: center;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background: none;
  border: none;
}

.button:active {
  font-size: 40px;
}
