*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 5px;
}

.main-title {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 50px 0;
  font-size: 50px;
}

/* flex-direction is default row */
.row {
  display: flex;
  align-items: stretch;
  width: '%100';
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.post {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0 10px;
}

.post-title {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: 30px;
  line-height: 1.5;
}

.post-image {
  width: 100%;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}

.three-quarter {
  width: 75%;
  padding: 0;
  margin: 0;
}

/* list had default padding */
.nav-list {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.list-item {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/* apply to a tag within list-item */
.list-item a {
  color: darkslategray;
  text-decoration: none;
  font-size: 38px;
}

.list-item a:hover {
  text-decoration: underline;
}

.list-item:nth-child(1) {
  background-color: #ffeaa7;
}
.list-item:nth-child(2) {
  background-color: #81ecec;
}
.list-item:nth-child(3) {
  background-color: #55efc4;
}
.list-item:nth-child(4) {
  background-color: #74b9ff;
}
.list-item:nth-child(5) {
  background-color: #a29bfe;
}
